#navigation #administration {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      0px;
  bottom:   0px;
}

#navigation #administration #selector {
  position:           absolute;
  left:              0px;
  right:             0px;
  top:               0px;
  height:           32px;
  padding-left:      8px;
  padding-right:     8px;
  line-height:      31px;
  vertical-align:     middle;
  border-bottom:     1px solid grey;
  font-size:        12px;
  background-color:   lightgrey;
}

#navigation #administration #selector #subnav {
  position:     absolute;
  left:      200px;
  font-size:  14px;
}

#navigation #administration #selector #subnav div{
  display:         inline-block;
  padding-right: 16px;
  color:           grey;
}

#navigation #administration #selector #subnav div.selected{
  color: purple;
}

/*----------------------------------------------------------------------------*/

#navigation #administration #model {
  position:           absolute;
  left:              0px;
  right:             0px;
  top:              32px;
  bottom             0px;
}

#navigation #administration #model .action {
  width:              200px;
  height:              32px;
  background-color:      lightgrey;
  border-radius:       16px;
  margin:               8px;
  margin-left:        200px;
  vertical-align:        middle;
  text-align:            left;
  line-height:         32px;
  padding-left:        16px;
}

#navigation #administration #model .action:hover {
  background-color:      darkgrey;
}

#navigation #administration #model .action span{
  width: 64px;
}

#navigation #administration #model input{
  display: none;
}

/*----------------------------------------------------------------------------*/

#navigation #administration #controllers {
  position:           absolute;
  left:              0px;
  right:             0px;
  top:              32px;
  bottom             0px;
}

#navigation #administration #controllers table {
  position:           absolute;
  left:              0px;
  right:             0px;
  top:               0px;
  bottom:           32px;
  font-size:        12px;
  border-collapse:    collapse;
  width:           100%;
}

#navigation #administration #controllers table td, #navigation #administration #controllers table th {
  border-bottom:  1px solid #ddd;
  padding:        8px;
}

#navigation #administration #controllers table td:not(:first-child), #navigation #administration #controllers table th:not(:first-child) {
  border-left: 1px solid #ddd;
}

#navigation #administration #controllers table td.noentries {
  font-size:      16px;
  text-align:     center;
  padding-top:    8px;
  padding-bottom: 8px;
}

#navigation #administration #controllers table tr:nth-child(even){
  background-color: #f2f2f2;
}

#navigation #administration #controllers table tr:hover {
  background-color: #ddd;
}

#navigation #administration #controllers table th {
  padding-top:      6px;
  padding-bottom:   6px;
  text-align:       left;
  background-color: lightgrey;
  color:            black;
}

#navigation #administration #controllers table td.status.completed {
  background-color: green;
}

#navigation #administration #controllers table input,
#navigation #administration #controllers table select {
  width:            100%;
  font-size:         12px;
  border:              none;
  background-color:    inherit;
}

#navigation #administration #controllers input:disabled,
#navigation #administration #controllers select:disabled,
#navigation #administration #controllers textarea:disabled {
  background-color: #eee
}

/*----------------------------------------------------------------------------*/
