#navigation #Administration {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      0px;
  bottom:   0px;
}

#navigation #Administration #selector {
  position:           absolute;
  left:              0px;
  right:             0px;
  top:               0px;
  height:           32px;
  padding-left:    200px;
  padding-right:     8px;
  line-height:      31px;
  vertical-align:     middle;
  border-bottom:     1px solid grey;
  font-size:        14px;
  background-color:   lightgrey;
}

#navigation #Administration #selector div {
  padding-left:    8px;
  padding-right:   8px;
  display:          inline-block;
}

#navigation #Administration #selector .buttons {
  float:          right;
  height:       31px;
  vertical-align: middle;
}

#navigation #Administration #selector .action {
  margin-left:   8px;
  font-size:    12px;
  padding:       2px 10px;
}

#navigation #Administration #selector input{
  display: none;
}

/*----------------------------------------------------------------------------*/

#navigation #Administration #domainDetails {
  position:         absolute;
  top:             32px;
  bottom:           0px;
  left:             200px;
  right:            0px;
  font-size:       14px;
  padding-top:      8px;
  padding-left:      8px;
  padding-right:     8px;
}

#navigation #Administration #domainDetails .header {
  padding-right: 8px;
}

#navigation #Administration #domainDetails .header h3 {
  margin-top: 0px;
  display:     inline-block;
}

#navigation #Administration #domainDetails .header .close {
  float: right;
}

#navigation #Administration #domainDetails table {
  border-collapse: collapse;
}

#navigation #Administration #domainDetails td,
#navigation #Administration #domainDetails th {
  vertical-align: top;
  border:         none;
}

/*----------------------------------------------------------------------------*/

#navigation #Administration #modelDomains {
  position:        absolute;
  left:           0px;
  width:        200px;
  top:           32px;
  bottom:         0px;
  padding-top:    8px;

  border-right:   1px solid lightgrey;

  font-size:     14px;
}

#navigation #Administration #modelDomains .action {
  display: inline-block;
}

#navigation #Administration #modelDomains .header h3 {
  display:       inline-block;
  margin-top:   0px;
  padding-left: 8px;
}

#navigation #Administration #modelDomains table {
  overflow-x: hidden;
  overflow-y: auto;
  width:      100%;

  border-collapse: collapse;
  border-spacing:  0;
  font-size:       12px;
  text-align:      left;
}

#navigation #Administration #modelDomains table thead, table tbody {
  width:      100%;
}

#navigation #Administration #modelDomains table tr {
  background-color: #fff;
  border-top:       1px solid #c6cbd1;
}

#navigation #Administration #modelDomains table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#navigation #Administration #modelDomains table th, table td {
  border:  1px solid #dfe2e5;
  padding: 4px 4px;
}

#navigation #Administration #modelDomains table th {
  background-color: #f6f8fa;
}

#navigation #Administration #modelDomains table tr th:last-child,
#navigation #Administration #modelDomains table tr td:last-child {
  text-align: center;
  width:      32px;
}

#navigation #Administration #modelDomains table.components th.center,
#navigation #Administration #modelDomains table.components td.center {
  text-align: center;
}


#navigation #Administration #modelDomains table tbody tr:hover {
  background-color: #eef;
}

/*----------------------------------------------------------------------------*/

#navigation #Administration #model {
  position:           absolute;
  left:              0px;
  right:             0px;
  top:              32px;
  bottom             0px;
}

#navigation #Administration #model .action {
  width:              200px;
  height:              32px;
  background-color:      lightgrey;
  border-radius:       16px;
  margin:               8px;
  margin-left:        200px;
  vertical-align:        middle;
  text-align:            left;
  line-height:         32px;
  padding-left:        16px;
}

#navigation #Administration #model .action:hover {
  background-color:      darkgrey;
}

#navigation #Administration #model .action span{
  width: 64px;
}

#navigation #Administration #model input{
  display: none;
}

#navigation #Administration #model table{
  position:           absolute;
  left:              0px;
  right:             0px;
  top:               0px;
  bottom:           32px;
  font-size:        12px;
  border-collapse:    collapse;
  width:           100%;
}

#navigation #Administration #model table td, #navigation #Administration #controllers table th {
  border-bottom:  1px solid #ddd;
  padding:        8px;
}

#navigation #Administration #model table td:not(:first-child), #navigation #Administration #controllers table th:not(:first-child) {
  border-left: 1px solid #ddd;
}

#navigation #Administration #model table td.noentries {
  font-size:      16px;
  text-align:     center;
  padding-top:    8px;
  padding-bottom: 8px;
}

#navigation #Administration #model table tr:nth-child(even){
  background-color: #f2f2f2;
}

#navigation #Administration #model table tr:hover {
  background-color: #ddd;
}

#navigation #Administration #model table th {
  padding-top:      6px;
  padding-bottom:   6px;
  text-align:       left;
  background-color: lightgrey;
  color:            black;
}

#navigation #Administration #model table td.status.completed {
  background-color: green;
}

#navigation #Administration #model table th:last-child,
#navigation #Administration #model table td:last-child{
  width: 32px;
}

/*----------------------------------------------------------------------------*/

#navigation #Administration #controllers {
  overflow-x:      hidden;
  overflow-y:      auto;
  width:           100%;
  border-collapse: collapse;
  border-spacing:  0;
  font-size:       12px;
  text-align:      left;
}

#navigation #Administration #controllers thead,
#navigation #Administration #controllers tbody {
  width:      100%;
}

#navigation #Administration #controllers tr {
  background-color: #fff;
  border-top:       1px solid #c6cbd1;
}

#navigation #Administration #controllers tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#navigation #Administration #controllers tbody tr:hover {
  background-color: #eef;
}

#navigation #Administration #controllers td,
#navigation #Administration #controllers th {
  border:  1px solid #dfe2e5;
  padding: 4px 4px;
}

#navigation #Administration #controllers  th {
  background-color: #f6f8fa;
}

#navigation #Administration #controllers th:last-child,
#navigation #Administration #controllers td:last-child{
  width:      32px;
  text-align: center;
}

/*----------------------------------------------------------------------------*/
