body {
  min-height: 800px;
  min-width:  1024px;
  width: auto !important;
  overflow:   hidden;
}


body {
  background-color: white;
  color:            black;
  font-size:        16px;
  font-family:      sans-serif;
  font:             16px Arial;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

div, input, select, textarea {
  box-sizing: border-box;
}

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  background-position: right;
}

input, select {
  border: none;
  border-bottom: 1px solid darkgrey;
}

input:required, select:required {
  border-bottom: 1px solid red;
}

input[readonly] {
  border-bottom: none;
}

select {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAA3XAAAN1wFCKJt4AAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgpMwidZAAAAe0lEQVQYGWWNQQqAIBBFm6K1eBbpAOomWhQUXiaKgg7mtlNJ81PEaEDm+b7jVFUsSr1s0Sml2mTrIn0ZWS2lHLTWM4fBOdfggNktQogeQ2SMOViMuKCYJ3YbI+XdLE4iuvEghNB57y8wKu/myd1au0b9zfJPRfhzpcj8ABbkF5o44buYAAAAAElFTkSuQmCC') no-repeat right;
}

select.valid {
  background-color: white;
}

textare:focus, select:focus, input:focus {
  border-color: green;
}

/*----------------------------------------------------------------------------*/

#copyright {
  position:  absolute;
  right:     0px;
  bottom:    0px;
  padding:   8px;
  font-size: 8px;
  z-index:   1000;
}

#copyright a {
  text-decoration: none;
  color:           #222;
  padding-right:   32px;
}

#copyright a:hover {
  color:           #888;
}

/*----------------------------------------------------------------------------*/

#app {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      0px;
  bottom:   0px;
}

#header {
  position:         absolute;
  left:             0px;
  right:            0px;
  top:              0px;
  height:           56px;
  line-height:      56px;
  vertical-align:   middle;
  background-color: lightgrey;
  border-bottom:    1px solid grey;
  min-width:        1024px;
  padding-left:     8px;
  font-size:        24px;
}

#header #title {
  position:         absolute;
  left:             0px;
  top:              0px;
  height:           56px;
  line-height:      56px;
  vertical-align:   middle;
  background-color: lightgrey;
  border-bottom:    1px solid grey;
  padding-left:     8px;
  font-size:        24px;
}

#header #nav {
  position:         absolute;
  right:            8px;
  font-size:        14px;
}

#header #selectors {
  position:  absolute;
  top:       4px;
  left:      200px;
  font-size: 14px;
}

#header #selectors div {
  display:       inline-block;
  padding-right: 4px;
}

#header #domain-selector #domainSelector {
  -webkit-appearance:    button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end:   20px;
  -webkit-padding-start: 2px;
  -webkit-user-select:   none;
  background-image:      url(../../images/select-arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position:   97% center;
  background-repeat:     no-repeat;
  border:                1px solid #AAA;
  color:                 #555;
  font-size:             inherit;
  overflow:              hidden;
  padding:               2px 10px;
  text-overflow:         ellipsis;
  white-space:           nowrap;
  width:                 300px;
}

#header #architecture-selector #architectureSelector {
  -webkit-appearance:    button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end:   20px;
  -webkit-padding-start: 2px;
  -webkit-user-select:   none;
  background-image:      url(../../images/select-arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position:   97% center;
  background-repeat:     no-repeat;
  border:                1px solid #AAA;
  color:                 #555;
  font-size:             inherit;
  overflow:              hidden;
  padding:               2px 10px;
  text-overflow:         ellipsis;
  white-space:           nowrap;
  width:                 300px;
}

#header #nav div {
  display:         inline-block;
  color:           grey;
  padding-right:    8px;
}

#header #nav #Components.selected   { color: green; }
#header #nav #Architecture.selected { color: blue; }
#header #nav #Solution.selected     { color: red; }
#header #nav #Automation.selected   { color: orange; }

/*----------------------------------------------------------------------------*/
