#navigation #architecture {
  position:   absolute;
  left:       0px;
  right:      0px;
  top:        0px;
  bottom:     0px;
  overflow-y: scroll;
}

/*----------------------------------------------------------------------------*/

#navigation #architecture #selector {
  position:           absolute;
  left:              0px;
  right:             0px;
  top:               0px;
  height:           32px;
  padding-left:      8px;
  padding-right:     8px;
  line-height:      31px;
  vertical-align:     middle;
  border-bottom:     1px solid grey;
  font-size:        12px;
  background-color:   lightgrey;
}

#navigation #architecture #selector div {
  padding-right: 8px;
  display:       inline-block;
}

#navigation #architecture #selector select {
  border:               1px solid #AAA;
  border-radius:        8px;
  color:                 #555;
  font-size:             inherit;
  overflow:              hidden;
  padding:               2px 10px;
  text-overflow:         ellipsis;
  white-space:           nowrap;
  width:                 400px;
  padding-right:         32px;
  background-color:        white;
}

#navigation #architecture #selector .buttons {
  float:          right;
  height:       31px;
  vertical-align: middle;
}

#navigation #architecture #selector .action {
  margin-left:   8px;
  font-size:    12px;
  padding:       2px 10px;
}
/*----------------------------------------------------------------------------*/

#navigation #architecture #container {
  position:     absolute;
  left:      200px;
  top:        32px;
}

#navigation #architecture #add {
  display: inline-block;
  color:   lightgrey;
}

/*----------------------------------------------------------------------------*/

#navigation #architecture #comps {
  position:        absolute;
  left:           0px;
  width:        200px;
  top:           32px;
  bottom:         0px;
  padding-top:    8px;

  border-right:   1px solid lightgrey;

  font-size:     14px;
}

/*----------------------------------------------------------------------------*/

#navigation #architecture #comps {
  position:        absolute;
  left:           0px;
  width:        200px;
  top:           32px;
  bottom:         0px;
  padding-top:    8px;

  border-right:   1px solid lightgrey;

  font-size:     14px;
}

/*----------------------------------------------------------------------------*/

#comps .header h3 {
  display:       inline-block;
  margin-top:   0px;
  padding-left: 8px;
}

/*----------------------------------------------------------------------------*/

#comps table {
  overflow-x: hidden;
  overflow-y: auto;
  width:      100%;

  border-collapse: collapse;
  border-spacing:  0;
  font-size:       12px;
  text-align:      left;
}

#comps table thead, table tbody {
  width:      100%;
}

#comps table tr {
  background-color: #fff;
  border-top:       1px solid #c6cbd1;
}

#comps table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#comps table th, table td {
  border:  1px solid #dfe2e5;
  padding: 4px 4px;
}

#comps table th {
  background-color: #f6f8fa;
}

#comps table tr th:last-child,
#comps table tr td:last-child {
  text-align: center;
}

#comps table.components th.center,
#comps table.components td.center {
  text-align: center;
}


#comps table tbody tr:hover {
  background-color: #eef;
}

/*----------------------------------------------------------------------------*/
