#navigation #components {
  position:   absolute;
  left:       0px;
  right:      0px;
  top:        0px;
  bottom:     0px;
  overflow-y: scroll;
}

#navigation #components #container {
  position:   absolute;
  left:       0px;
  right:      0px;
  top:        0px;
}

#navigation #components #add {
  display: inline-block;
  color:   lightgrey;
}
