#navigation #solution #container .node{
  display:          inline-block;
  position:         absolute;
  width:            160px;
  height:           40px;
  text-overflow:    ellipsis;
  background-color: lightgrey;
  border-radius:    8px;
}

#navigation #solution #container .node .name{
  position:      absolute;
  left:          0px;
  top:           4px;
  width:         160px;
  height:        16px;
  font-size:     14px;
  text-align:    center;
  overflow:      hidden;
  white-space:   nowrap;
  text-overflow: ellipsis;
}

#navigation #solution #container .node .type{
  position:      absolute;
  left:          0px;
  top:           20px;
  width:         160px;
  height:        16px;
  font-size:     10px;
  text-align:    center;
  overflow:      hidden;
  white-space:   nowrap;
  text-overflow: ellipsis;
}

/*----------------------------------------------------------------------------*/

#navigation #solution #container .node .destination {
  position: absolute;
  top:             -4px;
  width:            8px;
  height:           8px;
  background-color: red;
  border-radius:    4px;
  border:           1px solid #eee;
}

#navigation #solution #container .node .destination.active {
  background-color: green;
}
/*----------------------------------------------------------------------------*/

#navigation #solution #container .node .source {
  position: absolute;
  bottom:          -4px;
  width:            8px;
  height:           8px;
  background-color: blue;
  border-radius:    4px;
  border:           1px solid #eee;
}

/*----------------------------------------------------------------------------*/
