#navigation #container .node{
  display:          inline-block;
  position:         absolute;
  width:            160px;
  height:           40px;
  text-overflow:    ellipsis;
  background-color: lightgrey;
  border-radius:    8px;
}

#navigation #container .node:hover{
  background-color: darkgrey;
}

#navigation #container .node .name{
  position:      absolute;
  left:          0px;
  top:           4px;
  width:         160px;
  height:        16px;
  font-size:     14px;
  text-align:    center;
  overflow:      hidden;
  white-space:   nowrap;
  text-overflow: ellipsis;
}

#navigation #container .node .type{
  position:      absolute;
  left:          0px;
  top:           20px;
  width:         160px;
  height:        16px;
  font-size:     10px;
  text-align:    center;
  overflow:      hidden;
  white-space:   nowrap;
  text-overflow: ellipsis;
}

/*----------------------------------------------------------------------------*/

#navigation #container .destination {
  fill: red;
}

#navigation #container .destination.active {
  fill: green;
}
/*----------------------------------------------------------------------------*/

#navigation #container .source {
  fill: blue;
}

/*----------------------------------------------------------------------------*/
