#navigation #solution #container .solutionElement{
  display:       inline-block;
  width:         160px;
  height:        40px;
  text-overflow: ellipsis;
  border-radius: 8px;
  border-left:   8px solid red;
  padding-left:  2px;
  margin-left:   8px;
  margin-top:    8px;
  background-color: lightgrey;
  padding-top:   4px;
}

#navigation #solution #container .solutionElement .label {
  display: inline-block;
  width:   110px;
}

#navigation #solution #container .solutionElement .label .name{
  font-size:     14px;
  overflow:      hidden;
  white-space:   nowrap;
  text-overflow: ellipsis;
}

#navigation #solution #container .solutionElement .label .version{
  font-size:     10px;
  overflow:      hidden;
  white-space:   nowrap;
  text-overflow: ellipsis;
}


#navigation #solution #container .solutionElement .logo {
  display: inline-block;
  width:    32px;
  color:   red;
}
